@use 'variaveis';

.hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent),
    url(../images/hero_testes.jpg);
    background-size: cover;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
    font-family: 'Girassol', cursive;
    height: 100vh;
}

.hero-content {
    text-align: center;
}

.title {
    position: absolute;
    top: 300px;
    left: 150px;
    font-weight: bold;
}

.button-container {
    position: absolute;
    top: 365px;
    left: 145px;
    display: flex;
    justify-content: center; 
}

.button-container button {
    margin: 5px; 
    padding: 6px 12px; 
    background-color: rgba(147, 154, 163, 0.281);
    color: variaveis.$corTextoPrimaria; 
    border: none;
    border-radius: 16px; 
}

.watch-button {
    position: absolute;
    top: 450px;
    left: 150px;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    color: variaveis.$corTextoHero;
    border: none;
    width: 150px;
    border-radius: 16px;
    padding: 16px 20px;
    font-size: 16px;
    cursor: pointer;
}

.watch-button:hover {
    background-color: variaveis.$corDeFundoBotaoSecundario;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.nav-links {
    position: fixed;
    top: 50%; 
    transform: translateX(-50%); 
    top: 12px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    list-style: none;
    padding: 8px 0; 
    background-color: rgba(75, 73, 73, 0.842);
    z-index: 1;
    border-radius: 25px; 
}

.nav-links li {
    margin: 0 25px 0; 
}

.nav-links li a {
    text-decoration: none;
    color: variaveis.$corTextoHero;
    font-weight: bold;
}

@media (max-width: 768px) {
    
    .navbar {
        flex-direction: column;
        padding: 20px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        display: block;
        padding: 10px 0;
    }
}