@use 'variaveis';

.hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent),
    url(../images/hero_testes.jpg);
    background-size: cover;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
    font-family: 'Girassol', cursive;
    height: 100vh;
    flex-direction: column; 
    align-items: center; 
    width: auto;

        &__button {
            position: absolute;
            top: 460px;
            left: 150px;
            background-color: variaveis.$corDeFundoBotaoPrimario;
            color: variaveis.$corTextoHero;
            border: none;
            width: 150px;
            border-radius: 16px;
            padding: 16px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        
        &__button:hover {
            background-color: variaveis.$corDeFundoBotaoSecundario;
        }

        &__description {
            position: absolute;
            top: 385px;
            left: 145px;
            display: flex;
            justify-content: center; 
                
            button {
                margin: 5px; 
                padding: 6px 12px; 
                background-color: rgba(147, 154, 163, 0.281);
                color: variaveis.$corTextoPrimaria; 
                border: none;
                border-radius: 16px; 
            }
        }
    
        &__title {
            position: absolute;
            font-size: 33px;
            color: variaveis.$corTextoHero;
            top: 300px;
            left: 150px;
            font-weight: bold;
        }

        &__nav {
            position: fixed;
            top: 50%; 
            transform: translateX(-50%); 
            top: 12px;
            left: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
            list-style: none;
            padding: 8px 0; 
            background-color: rgba(75, 73, 73, 0.842);
            z-index: 1;
            border-radius: 25px; 

            li {
                margin: 0 25px 0; 

                a {
                    text-decoration: none;
                    color: variaveis.$corTextoHero;
                    font-weight: bold;
                }
            }
    }
}
    @media (max-width: 768px) {
        .hero {
        background-image: url(../images/hero_minor.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 500px;
        width: auto;

            &__button {
                top: 330px;
                left: 35px;
            }

            &__title {
                top: 180px;
                left: 35px;
            }

            &__description {
                top: 260px;
                left: 35px;
            }
        }
    }