@use 'variaveis';

.synopsis {
    padding: 150px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 800px;
        margin: 0 auto;

        &__description {
            flex: 1;
            max-width: 50%;
            text-align: left;
            padding: 0 20px;

            h2 {
                font-size: 30px;
                color: variaveis.$corTextoPrimaria;
                margin-bottom: 20px;
                font-weight: bold;
            }
    
            p {
                font-size: 22px;
                line-height: 1.6;
                color: variaveis.$corTextoSecundaria;
            }
        }

        &__image {
            flex: 1;
            max-width: 50%;
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
                margin-top: 90px;
                margin-left: 78px;
                border: 1px solid variaveis.$corTextoSecundaria;
            }
        }
    }

    @media (max-width: 768px) {
        .synopsis {  
            &__container {
                max-width: 70%;
                &__description {
                    p {
                        
                        padding: 5px;
                    }
                }

                &__image {
                    img{
                        max-width: 100%;
                        margin-top: 200px;
                        margin-left: 28px;
                        border: 1px solid variaveis.$corTextoSecundaria;
                    }
                }
            } 
        }
    }
}
