$corDeFundo: #2f3640;
$corDeFundoSecundaria: #2d323d;
$corTextoPrimaria: #f5f6fa;
$corTextoSecundaria: #dcdde1;
$corTextoHero: #fff;
$corDeFundoBotaoPrimario: #1e90ff;
$corDeFundoBotaoSecundario: #00a8ff;