@use 'variaveis';
@use 'hero';
@use 'synopsis';
@use 'trailer';
@use 'cast';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(black, variaveis.$corDeFundo);
    overflow-x: hidden;
}
